<mat-tab-group [backgroundColor]="'primary'" [color]="'accent'" (selectedIndexChange)="onHotelViewTabClick($event)">
  <mat-tab label="Search">
    <app-search-rooms class="form-of-dashboard"></app-search-rooms>
  </mat-tab>
  <mat-tab *ngIf="isAdmin" label="Hotel Register">
    <app-hotel-register class="form-of-dashboard"></app-hotel-register>
  </mat-tab>
  <mat-tab label="Hotel View">
    <app-hotel-view #childRef class="form-of-dashboard"></app-hotel-view>
  </mat-tab>
  <mat-tab *ngIf="isAdmin" label="Room Type Register">
    <app-roomtype-register class="form-of-dashboard"></app-roomtype-register>
  </mat-tab>
  <mat-tab *ngIf="isAdmin" label="Contract Register">
    <app-contract-register class="form-of-dashboard"></app-contract-register>
  </mat-tab>
  <mat-tab label="Contract View">
    <app-contract-view class="form-of-dashboard"></app-contract-view>
  </mat-tab>
  <mat-tab *ngIf="isAdmin" label="Markup Register">
    <app-markup-register class="form-of-dashboard"></app-markup-register>
  </mat-tab>
  <mat-tab label="Markup & RoomType View">
    <app-roomtype-markup-view
      class="form-of-dashboard"
    ></app-roomtype-markup-view>
  </mat-tab>
  <mat-tab *ngIf="isAdmin" label="Agent Register">
    <app-agent-register class="form-of-dashboard"></app-agent-register>
  </mat-tab>
  <mat-tab *ngIf="isAdmin" label="Agent View">
    <app-agent-view class="form-of-dashboard"></app-agent-view>
  </mat-tab>
</mat-tab-group>
